<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>DBProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>servlet.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckIn</servlet-name>
    <servlet-class>servlet.CheckIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckIn</servlet-name>
    <url-pattern>/CheckIn</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>InsertBorrower</servlet-name>
    <servlet-class>servlet.InsertBorrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBorrower</servlet-name>
    <url-pattern>/InsertBorrower</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckIntoBorrower</servlet-name>
    <servlet-class>servlet.CheckIntoBorrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckIntoBorrower</servlet-name>
    <url-pattern>/CheckIntoBorrower</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>Check_intoborrower</servlet-name>
    <servlet-class>servlet.Check_intoborrower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_intoborrower</servlet-name>
    <url-pattern>/Check_intoborrower</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>CalculateFines</servlet-name>
    <servlet-class>servlet.CalculateFines</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateFines</servlet-name>
    <url-pattern>/CalculateFines</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>PaymentOfFine</servlet-name>
    <servlet-class>servlet.PaymentOfFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentOfFine</servlet-name>
    <url-pattern>/PaymentOfFine</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>PaidFine</servlet-name>
    <servlet-class>servlet.PaidFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaidFine</servlet-name>
    <url-pattern>/PaidFine</url-pattern>
  </servlet-mapping>  
  <servlet>
    <servlet-name>FinesOfUser</servlet-name>
    <servlet-class>servlet.FinesOfUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinesOfUser</servlet-name>
    <url-pattern>/FinesOfUser</url-pattern>
  </servlet-mapping>  
</web-app>